@media (max-width: 768px) {
    .QuizContainer {
      max-width: 100%;
      box-shadow: none;
      border: none;
    }
  }

.QuizContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    list-style: none;
  }
  
  .QuestionContainer {
    margin-bottom: 20px;
  }
  
  .QuestionText {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  


  .OptionsList {
    
    padding: 0;
    margin: 0;
  }
  
  .OptionItem {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .OptionItem:hover {
    background-color: #e0e0e0;
    
  }
  
  .ScoreContainer {
    text-align: center;
  }
  
  
  